*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* body{
    width: 600px;
    border: 2px solid black;
    height: 600px; 
    background-color: lemonchiffon;
    padding-left: 50px;


} */